@font-face {
    font-family: 'Inter Tight';
    src: url('../../src/fonts/inter.woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@600&family=Roboto:ital@1&display=swap');

.homePage_wrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.homePage_background {
    background: url(../images/bgplanet_background.svg) no-repeat center center / cover;
    display: flex;
    justify-content: center;
        .desc__container {
            margin: 0 20px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            align-items: center;
            padding-top: 200px;
            text-align: left;
            font-weight: 350;
            font-size: 60px;
            line-height: 70px;
            letter-spacing: 0.02em;
            .button_desc {
                display: flex;
                justify-content: center;
            }
            .btn {
                margin-top: 60px;
                display: flex;
                justify-content: center;
                font-weight: 350;
                font-size: 16px;
                line-height: 19px;
                padding: 14px 20px;
                background-color: #1E74EC;
                color: #EEEFF1;;
                width: 200px;
            }
            .div {
                width: 100%;
                .btn_home{
                    
                    a:hover{
                        background-color: #75788D;
                        opacity: 0.7;
                    }
                    
                    animation: btnAnimate;
                    animation: 2s ease infinite;
                }
                @keyframes btnAnimate {
                    from {
                        background-color: rebeccapurple;
                    }
                    to{
                        background-color: red;
                    }
                }
                
            }
        }
        .desc__container :first-child {
            color: white;
        }
        .desc__container .blue_li {
            color: #1E74EC;
        }
        .desc__container .desc_li{
            padding-top: 24px;
            font-weight: 325;
            font-size: 20px;
            line-height: 28px;
            color: #DDDDE2;
        }
        .benefits_home__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 100px;
            padding-bottom: 8px;
            .benefits_item {
                margin: 0px 40px;
                padding: 0px 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
            .benefits_item .benefits_li {
                color: #EEEFF1;
                white-space: nowrap;
                font-weight: 700;
                font-size: 28px;
                line-height: 82px;
            }
            .benefits_item .benefits_li:first-child{
                padding-bottom: 0px;
                font-style: normal;
                font-weight: 700;
                font-size: 56px;
                text-align: center;
                text-transform: uppercase;
                color: #EEEFF1;
            }
        }
        .benefits_container .benefits_li:last-child{
            font-size: 26px;
            line-height: 32px;
        }
}

.inoBlock_Wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .info_block__container {
        display: flex;
        flex-direction: column;
        padding-top: 180px;
        .desc_infoBlock {
            width: 1440px;
            text-align: left;
            padding-bottom: 40px;
            li{
                font-weight: 400;
                font-size: 26px;
                line-height: 32px;
                color: #35417F;
            }
        }
        .content {
            padding-left: 204px;
            .content_block {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                ul{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding-left: 40px;
                    justify-content: center;
                }
                .buttons_container{
                    padding-top: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    a {
                        min-width: 206px;
                        padding: 14px 0px;
                        color: #1E74EC;
                        font-weight: 350;
                        font-size: 16px;
                        line-height: 19px;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.02em;
                        border: 1px solid #1E74EC;
                    }
                    a:first-child{
                        margin-right: 24px;
                    }
                    a:hover{
                        background-color:#1E74EC;
                        color: #EEEFF1;
                    }
                }
            }
            display: flex;
            flex-direction: row;
            ul li:first-child {
                color: #03115F;
                font-weight: 700;
                font-size: 62px;
                line-height: 68px;
                margin-bottom: 22px;
            }
            ul li:not(:first-child){
                margin-top: 16px;
                font-size: 18px;
                line-height: 22px;
                font-weight: 325;
                color: #535670;
            }
            ul {
                text-align: left;
            }
        }
    }
}

.suggestions_block{
    display: flex;
    justify-content: center;
}

.suggestions_block__container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    .desc_suggesions {
        margin-bottom: 64px;
        li:not(:last-child){
            margin-bottom: 16px;
        }
        li:first-child{
            color: #35417F;
        }
        li:nth-child(2) {
            color: #03115F;
            font-weight: 700;
            font-size: 62px;
            line-height: 68px;
        }
        li:last-child{
            color: #535670;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
        }
    }
    .suggestions_content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .suggestions {
            width: 33.3333%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 10;
            padding-top: 54px;
            li {
                display: flex;
                text-align: left;
                color: #535670;
            }
            img {
                display: flex;
                padding-bottom: 15px;
                align-self: flex-start;
            }
        }
        .suggestions li:nth-child(2) {
            color: #1E74EC;
            font-weight: 325;
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 15px;
        }
    }
    .serv_link {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 140px;
        align-items: center;
        width: 100%;
        a{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 12px 6px;
            li{
                padding-right: 40px;
                font-weight: 700;
                font-size: 14px;
                color: #A960AB;
                white-space: nowrap;
            }
        }
        a:hover{
            animation: servSwap 0.3s forwards;
            transition: 0.5 ease-out;
            opacity: 0.6;
            width: 60%;
        }
        @keyframes servSwap {
            from{
                width: 0%;
            }
            to{
                width: 18%;
            }
        }
    }
 
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .portfolioDesc_content {
        background-color: #E6E8EF;
        width: 100%;
        min-height: 640px;
        li:nth-child(1){
            color: #35417F;
            font-weight: 325;
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 8px;
            margin-top: 87px;
        }
        li:nth-child(2){
            font-weight: 700;
            font-size: 62px;
            line-height: 68px;
            text-align: center;
            margin-bottom: 24px;
            color: #03115F;
        }
        li:last-child{
            font-weight: 325;
            font-size: 20px;
            line-height: 28px;
        }
    }
    .btn_portfolio__container{
        margin-bottom:0px;
        position: relative;
        bottom: 220px;
        a{
            min-width: 206px;
            padding: 14px 20px;
            color: #EEEFF1;
            font-weight: 350;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-align: center;
        }
        a:first-child{
            border: 1px solid #1E74EC;
            background-color: #1E74EC;
            margin-right: 22px;
        }
        a:last-child{
            border: 1px solid #1E74EC;
            background-color: #1E74EC;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.02em;
            color: #EEEFF1;
        }
        a:hover{
            background-color: #FFFFFF;
            color: #1E74EC;
        }
        .btn_portfolio:hover{
            background-color: #FFFFFF;
            color: #1E74EC;
        }
    }
}

.portfolio_content {
    width: 1440px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 48px;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    position: relative;
    justify-content: center;
    padding-bottom: 10px;
    bottom: 210px;
    .content{
        width: 100%;
        white-space: wrap;
        text-align: left;
        &.item5{
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
        &.item6{
            grid-row: 2 / 3;
            grid-column: 3 / 5;
        }
        &.item7{
            grid-row-start: 3;
            grid-column-start: 3;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            a {
                display: flex;
                background-color: #1E74EC;
                border: 2px solid #1E74EC;
                justify-content: center;
                font-weight: 350;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
                color: #EEEFF1;
            }
        }
        &.item8{
            grid-row-start: 3;
            grid-column-start: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: flex-end;
            a{
                display: flex;
                background-color: #FFFFFF;
                border: 2px solid #1E74EC;
                justify-content: center;
                letter-spacing: 0.02em;
                font-weight: 350;
                font-size: 16px;
                line-height: 19px;
            }
        }
        li:nth-child(2){
            color: #35417F;
            font-weight: 350;
            font-size: 22px;
            line-height: 32px;
        }
        li:nth-child(3){
            font-weight: 325;
            font-size: 18px;
            line-height: 22px;
        }
    }
}

.benefits_Wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 180px;
    .benefits__container {
        flex-direction: column;
        .benefits_desc{
            width: 100%;
            text-align: left;
            li:first-child{
                font-weight: 325;
                font-size: 26px;
                line-height: 32px;
                color: #35417F;
            }
            li:nth-child(2){
                font-weight: 700;
                font-size: 62px;
                line-height: 68px;
                color: #03115F;
                
            }
            li:last-child{
                font-style: normal;
                font-weight: 325;
                font-size: 20px;
                line-height: 28px;
            }
            li:not(:first-child){
                padding-top: 14px;
            }
        }
    }
    .benefits_content {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;   
        width: 100%;
        justify-content: space-between;
        .content_item {
            display: flex;
            flex-direction: column;
            text-align: left; 
            .img_benefits{
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
            li:nth-child(2){
                color: #1E74EC;
                font-style: normal;
                font-weight: 350;
                font-size: 22px;
                line-height: 32px;
            }
            li:nth-child(3){
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #535670;
                padding-top: 18px;
            }
        }
    }
}

.clients_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
    .clients__container{
        flex-direction: column;
        .clients_desc{
            padding-bottom: 64px;
            li{
                font-weight: 700;
                font-size: 62px;
                line-height: 68px;
                color: #03115F;
                padding-bottom: 30px;
            }
        }
        .clients_content { 
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .client_item{
                padding-bottom: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 40px 50px;
                img:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}

.contactBlock_wrapper {
    width: 100%;
    background: url('../images/contact_bg.svg') no-repeat;
    background-position: left center;
    background-size:cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .contact_bg__container {
        flex-direction: column;
        margin-bottom: 180px;
        margin-top: 120px;
            li:first-child{
                width: 100%;
                text-align: left;
                font-weight: 325;
                font-size: 26px;
                line-height: 32px;
                color: #EEEFF1;
                text-align: left;
            }
            li:last-child{
                margin-top: 14px;
                width: 100%;
                text-align: left;
                padding-bottom: 40px;
                text-align: left;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 32px;
                color: #E6E8EF;
            }
    }
}

.content_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 180px;
    .contactBlock__container{
        flex-direction: column;
        .contactBlock_content {
            min-height: 720px;
            background-color: #EEEFF1;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .square_content{
                width: 50%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 80px 0px;
                .square{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    background-color: #35417F;
                    padding: 40px 64px;
                    max-width: 100%;
                    li:nth-child(1){
                        font-weight: 325;
                        font-size: 26px;
                        line-height: 32px;
                        color: #DDDDE2;
                        margin-bottom: 24px;
                        margin-top: 28px;
                    }
                    li:nth-child(2){
                        font-weight: 325;
                        font-size: 16px;
                        line-height: 22px;
                        color: #DDDDE2;
                        margin-bottom: 24px;
                    }
                    .social{
                        margin-top: 40px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .social_item {
                            img{
                                margin-right: 40px;
                            }
                            img:hover{
                                opacity: 0.7;
                                cursor: pointer;
                                width: 40%;
                                transition: 0.7s;
                            }
                        }
                    }
                    .contact_countries {
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        justify-content: space-between;
                        .contact_countries_item{
                            li:nth-child(1){
                                font-weight: 600; 
                            }   
                        }
                    }
                }
            }
            .contact_Do{
                width: 50%;
                padding-bottom: 60px;
                padding-top: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .square_contactDo{
                    .title{
                        width: 100%;
                        p{
                            font-style: normal;
                            font-weight: 325;
                            font-size: 18px;
                            line-height: 22px;
                            display: block;
                        }
                    }
                    p:nth-child(1){
                        width: 100%;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 42px;
                        color: #03115F;
                        text-align: left;
                        margin-bottom: 30px;
                    }
                    p:nth-child(2){
                        width: 100%;
                        text-align: left;
                        margin-bottom: 20px;
                        font-weight: 325;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    p:nth-child(5){
                        text-align: left;
                        font-weight: 400;
                        font-size: 11px;
                        line-height: 20px;
                        margin-bottom: 10px;
                        width: 100%;
                    }
                    p:nth-child(5):before{
                        content: '\002A ';
                        color: red;
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    .input_container {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        .label{
                            border: none
                        }
                        label{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            border-radius: 4px;
                            background-color: #FFFFFF;
                            margin-bottom: 16px;
                            width: 100%;
                        }
                        .borderInput{
                            border: 1px solid red;
                        }
                        textarea{   
                            resize: none;
                            outline: none;
                            border-radius: 4px; 
                            width: 100%;
                            overflow: hidden;
                            height: 98px;
                        }
                        textarea::placeholder{
                            margin-top: 20px;
                            padding-left: 15px;
                        }
                        label:not(:last-child)::before{
                            content: '\002A ';
                            color: red;
                        }
                        input{
                            outline: none;
                            padding: 14px 0px;
                            min-width: 453px;
                            margin-left: 15px;
                            margin-right: 15px;
                        }
                        input::placeholder{
                            font-weight: 325;
                            font-size: 16px;
                            line-height: 20px;
                            color: #75788D;
                        }
                        textarea{
                            width: 100%;
                            font-weight: 325;
                            font-size: 16px;
                            line-height: 20px;
                            color: #75788D;
                        }
                    }                
                }
                .button_container{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: left;
                    width: 100%;
                        li{
                            display: inline;
                            
                            font-weight: 325;
                            font-size: 11px;
                            line-height: 20px;
                            color: #989AA9;
                        }
                        button{
                            background: #1E74EC;
                            padding: 14px 40px;
                            font-weight: 350;
                            font-size: 16px;
                            line-height: 19px;
                            letter-spacing: 0.02em;
                            color: #EEEFF1;
                            min-width: 206px;
                            margin-right: 12px;
                            border: 1px solid #1E74EC;
                        }
                        button:hover{
                            background-color:#ffffff;
                            color:#1E74EC;
                            cursor: pointer;
                            border: 1px solid #1E74EC;
                        }
                }
            }
        }
    }
}

.rocket{
    background-color: red;
    border-radius: 16px;
    background: #FFFFFF;
    padding: 20px;
    .img_rocket{
        li{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #35417F;
        }
    }
    .actions{
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p{
            display: flex;
            justify-content: flex-end;  
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.02em;
            color: #1E74EC;
        }
        p:first-child{
            cursor: pointer;
            margin-bottom: 20px;
        }
        P:last-child{
            cursor: pointer;
        }
        
    }
}